* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

.about-section {
  background: url(book.jpg) no-repeat left;
  background-size: 55%;
  /* background-color: #fdfdfd; */
  background-color: #c8e8e9;
  overflow: hidden;
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner-container {
  width: 55%;
  float: right;
  background-color: #fdfdfd;
  padding: 150px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.inner-container h1 {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
}

.text {
  font-size: 13px;
  color: #545454;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}

.skills {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 13px;
}

@media screen and (max-width: 1200px) {
  .inner-container {
    padding: 80px;
  }
}

@media screen and (max-width: 1000px) {
  .about-section {
    background-size: 100%;
    padding: 100px 40px;
  }
  .inner-container {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .about-section {
    padding: 0;
  }
  .inner-container {
    padding: 60px;
  }
}

#footer {
  text-align: center;
  background-color: #fff;
  padding: 5%;
}
.footer-image {
  /* padding: 1% 1%; */
  margin-bottom: 1%;
}
.foot-img {
  padding: 0 1%;
}

.msg {
  color: green;
  font-weight: 800;
  font-size: 35px;
  text-align: center;
}
